.Stitle {
  color: red;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
}

.ProfileForm {
  text-align: center;
  border: solid;
  border-color: darkblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: darkblue;
  color: white;
}

.Profb {
  width: 15vw;
  border-radius: 0.35rem;
  background-color: red;
  color: white;
  font-size: 2vw;
  margin-bottom: 2vw;
}

.profform {
  font-size: 2vw;
  margin-top: 1vw;
}

.proflabel {
  font-size: 2vw;
}
